windows/.sdk_path
cuda/poc_gpu_l3
cuda/poc_gpu_l8
cuda/*.exe
cuda/*.exp
cuda/*.lib
results/*
!results/README.md
*.zip
__pycache__/
cuda/scenes/scene_scale_530k.bin
cuda/scenes/scene_scale_1M.bin
scenes_publiques/RTXGI-Assets/
scenes_publiques/cache/
